.b-hero-about {
  .woocommerce-breadcrumb {
    color: var(--p-100);
    a {
      color: #fff;
    }
  }
  .__img2 {
	 margin-right: calc(50% - 50vw);
  padding-right: calc(50% - 50vw);
  box-sizing: border-box;
  }
}
