.hero-sub {
  .__arrow {
    border-radius: 40px;
    width: max-content;
    padding: 16px 18px;
  }
}

.hero {
  .__arrow {
    border-radius: 40px;
    width: max-content;
    padding: 16px 18px;
  }
}